const http = require('http');

const hostname = "{{ ansible_default_ipv4.address }}";
const port = "{{ portNumber }}";

const server = http.createServer((req, res) => {
  res.statusCode = 200;
  res.setHeader('Content-Type', 'text/plain');
  res.end('Hello World!\n');
});

server.listen(port, hostname, () => {
  console.log(`Server running at http://${hostname}:${port}/`);